* {
    margin: 0;
    padding: 0;
}

/* navbar ------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 0 2rem;
}

.buttons-div {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.logo-div {
    display: flex;
    padding: 0.2rem 0;
}

.navbar-logo {
    height: auto;
}


/* dropdown STAIRS ------------------------------------------------ */


.button-container {
    position: relative;
    border-radius: .75rem;
}
/* show dropdown on hover for PC */
.button-container:hover > .dropdown {
    display: block;
}
/* show dropmenu on click for touch */
.button-container:active > .dropdown {
    display: block;
}
/* highlights dropdown parent button being interacted with */
.button-container:active {
    background-color: rgb(219, 219, 219);
}
.button-container:hover {
    background-color: rgb(219, 219, 219);
}


.navbar-button {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;
    background-color: transparent;
    border-radius: .75rem;
}
.navbar-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.navbar-button-img {
    padding-top: 0.1rem;
}

.dropdown {
    /* set up */
    position: absolute;
    display: none;

    /* style */
    background-color: white;
    box-shadow: 1px 1px 2px 1px grey;
    border-radius: .75rem;
    min-width: 5rem;
    padding: 0.25rem;
}

.dropdown-pos-bottom-left {
    top: calc(2rem - 0px);/* navbar-button height - navbar-button border thickness*/
    right: -1px; /* navbar-button border thikness */
}

.dropdown-pos-left {
    top: 0;
    left: calc(-100% - 0.5rem);
}

.dropdown-pos-right {
    top: 0;
    left: calc(100% + 0.5rem);
}


/* these styles must be placed last as
   they are override styles */
.test {
    background-color: cyan;
}
.test2 {
    background-color: gray;
}
.test3 {
    background-color: yellowgreen;
}