* {
    margin: 0;
    padding: 0;
}

/* navbar ------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 0 2rem;
}

.buttons-div {
    display: flex;
    align-items: center;
}

.logo-div {
    display: flex;
    padding: 0.2rem 0;
}

.navbar-logo {
    height: auto;
}


/* buttons ------------------------------------------------ */


.button-container {
    position: relative;
}
/* show dropdown on hover for PC */
.button-container:hover > .dropdown {
    display: block;
}
/* show dropmenu on click for touch */
.button-container:active > .dropdown {
    display: block;
}


.navbar-button {
    height: 1.5rem;
    background-color: white;
    border: 1px solid transparent;
    margin: 0 .5rem;
}
.navbar-button:hover {
    border: 1px solid black;
}

.dropdown {
    /* set up */
    position: absolute;
    display: none;

    /* style */
    background-color: green;
}

.dropdown-pos-bottom-left {
    top: calc(1.5rem - 1px);/* navbar-button height - navbar-button border thickness*/
    right: -1px; /* navbar-button border thikness */
}

.dropdown-pos-left {
    top: 0;
    left: -100%;
}

.dropdown-pos-right {
    top: 0;
    left: 100%;
}